.AddTask{
  padding: 107px 26px 100px 26px;
}

/**************** textarea ****************/
.AddTask__textarea::placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
}

.AddTask__textarea {
  line-height: 20px; 
  border: none;
  background-color:var(--color-light-navy);
  margin-top: 28px;
  margin-bottom: 31px;
  width: 100%;
  height: 20vh;
}

.AddTask__textarea:focus {
  outline: none;
}

/**************** URGENT CHECKBOX ****************/

input.AddTask__checkbox:after {
  position: absolute;
  content: "";
  background-color: var(--color-pink);
  height: 100%;
  width: 100%;
}

.AddTask__checkbox {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  /* border:2px solid white; */
  background-color:var(--color-light-navy);
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  margin-right: 1vw;
  
}

.AddTask__checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-35deg) scaleX(-1);
  width: 0.6em;
  height: 0.2em;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 1;
}

.AddTask__checkbox::before, .AddTask__checkbox::after{
  opacity: 0;
}

.AddTask__checkbox:checked::before,.AddTask__checkbox:checked::after {
  opacity: 1;
}




/**************** icons ****************/
.AddTask__icons {
  display: flex;
  padding: 30px 0 38px 0;
  justify-content: center;
  gap: 16px;
} 
 
.AddTask__icon_label{
  padding: 6px 16px 6px 16px;
  border-radius: 50px;
}

.AddTask__icon_label {
  background-color: var(--color-light-navy);
}

.AddTask__icon_label:hover {
  background-color: var(--color-yellow);

}
.AddTask__icon_label a:active {
  background-color: var(--color-yellow);
}

.AddTask__icon_input:checked + .AddTask__icon_label {
  background-color: var(--color-yellow);
}

.AddTask__icon_label {
  padding: 6px 16px;
  border-radius: 50px;
  background-color: var(--color-light-navy);
}

.AddTask__icon_input:checked + .AddTask__icon_label {
  background-color: var(--color-yellow);
}

.AddTask__flex{
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin: 2.3vh 0 2.3vh;
}


.circle {
  position: relative;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-light-navy);
  cursor: pointer;
}

.icon{
  margin-right: 8px;
  background-color: var(--color-light-navy);
}

.circle-label {
  background-color: var(--color-light-navy);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  transition: all;

}

.circle input[type="radio"] {
  display: none;
}

.circle input[type="radio"]:checked + .circle-label {
  background-color: var(--color-yellow);
  transition: all;

}
.circle input[type="radio"]:checked + .circle-label span {
  background-color: var(--color-yellow); /* Set the background color to yellow */
}


/* hide radio button */
.AddTask__icon_input{
  display: none;
}


/* button submit */
.AddTask__fix {
  position: relative;
}

.AddTask__submit {
  background-color: var(--color-blue);
  height: 48px;
  width: 248px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 125px 0;
  position: fixed;
  z-index: 9999;
  bottom: 25px;
}


.AddTask__flex {
  display: flex;
  justify-content: center;
}
