.Home{
    padding: 107px 26px 100px 26px;
}

.Home__checkbox-round {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid white;
    appearance: none;
    -webkit-appearance: none;
    /* outline: none; */
    cursor: pointer;
  }
  
  .Home__space{
    margin-bottom: 0.9vh;
  }